* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
  
    height: 100vh;

    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {  
    text-align: center;
}

#section{
    display: grid;
    grid-template-columns: 4fr 4fr;

    background-color: lightgrey;
    border-radius: 2vmin;
    height: 60%vh;
}

#playBoard, #hints {
    display: grid;
    grid-template-rows: repeat(12, 50px);
    grid-template-columns: repeat(4, 50px);
    align-items: center;
    
}

#playBoard > div {
    margin: 2vmin;
    border: 1vmin solid black;
    border-radius: 50%;
    background-color: darkgrey;
    background-size: contain;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

/* #hints {
    display: grid;
    grid-template-rows: repeat(12, 10vmin);
    grid-template-columns: repeat(4, 10vmin);

} */


#hints > div {
    margin: 2vmin;
    border: 1vmin solid black;
    border-radius: 50%;
}

#colours > div {
    display: inline-block;
    justify-content: space-between;
    gap: 100px;
}

#bottons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

div > botton {
    margin-top: 5vmin;
    padding: 1.5vmin;
    background-color: grey;
    color: white;
    border-radius: 2vmin;
    font-size: 4vmin;
}