* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {

    height: 100vh;

    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 5vmin;
}



#section {
    /* margin: 2vmin; */
    display: grid;
    grid-template-columns: 4fr 4fr;
    grid-gap: 2vmin;
    background-color: lightgrey;

    height: 60%vh;
}

#board {
    display: grid;
    grid-template-rows: repeat(12, 5vmin);
    grid-template-columns: repeat(4, 5vmin);

}

#board>div {
    margin: 1vmin;
    border: 0.2vmin solid black;
    border-radius: 50%;
    background-color: white;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;


}

#hints {
    display: grid;
    grid-template-rows: repeat(12, 5vmin);
    grid-template-columns: repeat(4, 5vmin);

}



#hints>div {
    margin: 1.8vmin;
    border-radius: 50%;
    background-color: white;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colours {
    display: grid;
    grid-template-rows: repeat(1, 5vmin);
    grid-template-columns: repeat(6, 5vmin);
    grid-gap: 2.4vmin;
    background-color: lightgray;
    /* border: 0.2vmin solid lightgray; */
}

.colours> .circle {
    margin: 1vmin;
    border: 0.2vmin solid black;
    border-radius: 50%;
    background-size: contain;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.colours>#red {
    background-color: #ea9999;
}
.colours>#orange {
    background-color: #f9cb9c;
}

.colours>#yellow{
    background-color: #ffe599;
}

.colours>#green {
    background-color: #b6d7a8;
}
.colours>#blue {
    background-color: #9fc5e8;
}
.colours>#purple {
    background-color: #b4a7d6
}


.button {
    display: flex;
    column-gap: 2vmin;
}

button:active {
    background-color: #b6d7a8;
}

.square {
    margin-top: 2vmin;
    padding: 0.5vmin;
    background-color: grey;
    color: white;
    font-size: 2vmin;
}

/* popup window for instructions */
.form-popup {
    display: none;
    position: absolute;
    margin: 10vmin;
    border: 0.2vmin solid gray;
}


.form-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(255,255,255,0.95);
    margin-right: 0.5em;
    justify-content: center;
    align-items: center;

}
.form-container > p {
    margin: 0;
    font-weight: bold;
}

.btn-close {
    margin-top: 0.5em;
    align-self: end;
}


/* give this close button different click effect */
.btn-close:active {
    background-color: grey;
    color: white;
}

#attention {
    color: orange;
}
/* Add some clicked effects to buttons */

