* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {

    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 5vmin;
}



#section {
    display: grid;
    grid-template-columns: 4fr 4fr;
    grid-gap: 2vmin;
    background-color: lightgrey;
    position: relative;
}

#board {
    display: grid;
    grid-template-rows: repeat(12, 5vmin);
    grid-template-columns: repeat(4, 5vmin);


}

#board>.playBoard {
    margin: 1vmin;
    border: 0.2vmin solid black;
    border-radius: 50%;
    background-color: white;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;


}

#hints {
    display: grid;
    grid-template-rows: repeat(12, 5vmin);
    grid-template-columns: repeat(4, 5vmin);

}



#hints>div {
    margin: 1.8vmin;
    border-radius: 50%;
    background-color: white;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colours {
    display: grid;
    grid-template-rows: repeat(1, 5vmin);
    grid-template-columns: repeat(6, 5vmin);
    grid-gap: 2.4vmin;
    background-color: lightgray;
}

.colours>.circle {
    margin: 1vmin;
    border: 0.2vmin solid black;
    border-radius: 50%;
    background-size: contain;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.colours>#red {
    background-color: #ea9999;
}

.colours>#orange {
    background-color: #f9cb9c;
}

.colours>#yellow {
    background-color: #ffe599;
}

.colours>#green {
    background-color: #b6d7a8;
}

.colours>#blue {
    background-color: #9fc5e8;
}

.colours>#purple {
    background-color: #b4a7d6
}


.button {
    display: flex;
    column-gap: 2vmin;

}

.button>button:hover {
    background-color: #b6d7a8;
}

.button>button {
    margin-top: 2vmin;
    padding: 0.5vmin;
    background-color: grey;
    color: white;
    font-size: 2vmin;
}

/* popup windows */
.form-popup {
    /* display: block; */
    position: absolute;
    border: 0.2vmin solid gray;
    width: 100%;
    background-color: burlywood;
    align-self: center;
}

.form-popup.instruction{
    width: 120%;
    background-color: red;
}



.form-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 0.95);
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.form-container>p {
    margin: 0;
    font-weight: bold;
}

.form-container>ul {
    margin-right: 1rem;
}

.btn-close {
    align-self: end;
}

/* give this close button different hover effect */
.btn-close:hover {
    background-color: rgb(208, 101, 101);
    color: white;
}

/* winthin instruction popup window */
#attention {
    color: orange;
}

/* change win and loose window color */
#winMessage>.form-container {

    background-color: #ffe599;
}

#looseMessage>.form-container {
    background-color: #ffe599;
}

h3 {
    margin: 0.5em;
}

/* change the effect and layout for restart button */
.btn-restart:hover {
    background-color: #b6d7a8;
}

.btn-restart {
    align-self: center;
    margin-top: 1rem;
}